body 
{
    margin:0;
    padding:0;
    background-image: url("http://codd.cs.gsu.edu/~mkandagadda1/Assignment2/Images/background.png");
	font-family: Verdana, Geneva, sans-seri;
	font-size: 8pt;	
}

#Banner
{	  
    background-image: url("http://codd.cs.gsu.edu/~mkandagadda1/Assignment2/Images/bannerbackground.png");
    text-align:center;
}

#MovieDesp
{
	font-size: 24pt;
    font-family:"Verdana", sans-serif;
	text-align: center;
	font-weight: bold;
}

#ReviewTotal{
    font-size: 10px;
    color: white;
}

#ContentBox
{
	margin-left: auto;
    margin-right: auto;
	width: 800px;
	border: 4px solid grey;
	position: relative;	
	overflow: hidden;
}

#Overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
}

#TextDesp
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}

#LeftSection
{
    width:550px;
    position:relative;
    float:left;
}

.StyleBold
{
	font-weight: bold;
    padding-top:5px;
}


#RottenAlign
{
    background-image:url("http://codd.cs.gsu.edu/~mkandagadda1/Assignment2/Images/rottenbackground.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;
	
}

#RottenAlign img
{
    float: left;
    margin-right: 5px;
}

.ReviewColumn
{
    width: 47%;
    float: left;
    margin-left: 2%;
}

.Review
{
    font-size: 8pt;
    background-color: #E8DC9B;
    font-weight: bold;
    border: 2px solid grey;
    padding: 8px;
    overflow: hidden;
    position: relative;

}

.ReviewerInfo
{
    padding-top: 5px;
    padding-bottom: 20px;
    
}

.ReviewerInfo span
{
    font-style: italic;
}

#ReviewCounts
{
    background-color:#A2B964;
    padding:5px;
    position: absolute;
	bottom:-85px;
	width: 550px;
	text-align: center;
	
}
p img
{ 
	padding-right: 5px;
	float: left;
	
}

#Position
{
    position: fixed;
    right:0;
    bottom:0;
}

.Style
{
    opacity: 0.5;   
}